
/* Responsive Page Accueil et Page2. */
@media screen and (min-width: 1200px) {
    /* NAV */
    nav {
        height: 100px;
    }

    nav > .logo > img {
        width: 100px;
    }

    nav > .menu > a {
        font-size: 25px;
    }

    /* BODY */
    body > main > .title {
        height: 250px;
    }

    body > main > .title > h1 {
        font-size: 60px;
    }

    body > main > .title > h4 {
        font-size: 30px;
    }

    body > main > .banner > h3 {
        font-size: 30px;
    }

    body > main > .chips__choice > .chip {
        font-size: 20px;
        height: 38px;
    }

    /* FOOTER */

    footer {
        height: 150px;
    }

    footer > .footer-follow, .footer-contact {
        font-size: 22px;
    }

}

/* Responsive Page2 > BODY */

@media screen and (min-width: 1200px) {
    
    .text-restaurant {
        margin-inline: 100px;
    }
    
    /* img */
    .block-img > .restaurant-card-img {
        width: 60%;
        height: 400px;
        margin-block: 20px;
    }

    /* Bloc texte */
    .text-restaurant > h3 {
        font-size: 50px;
        margin-top: 40px;
    }

    .text-restaurant > .type-food {
        font-size: 30px;
        margin-top: 10px;
    }

    .text-restaurant > .description {
        font-size: 23px;
        margin-top: 10px;
        margin-bottom: 70px;
    }

    .text-restaurant > .feedbacks > .feedback-cards > p {
        font-size: 20px;
    }

    /* map */
    .location > iframe {
        width: clamp(250px, 80%, 700px);
        height: 300px;
        /* height: clamp(448px, 50%, 896px); */
    }

    /* Add comment */
    #write-review {
        margin-inline: 300px;
    }
}

