* {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FDF5ED;
}

button {
    float: left;
    background-color: #ADC39F;
    display: block;
    border-radius: 10px;
    border: solid 3px #9baf8f;
}

button:hover {
    background-color: white;
    color: black;
}

.Accueil {
    margin: 30px 0 30px 100px;
    height: 30px;
    width: 60px;
    font-size: 12px;
}

.Restaurants {
    margin: 30px 0 30px 10px;
    height: 30px;
    width: 90px;
    font-size: 12px;

}

.Contact {
    margin: 30px 0 30px 10px;
    height: 30px;
    width: 60px;
    font-size: 12px;

}

footer {
    background-color: #2F827A;
    height: 80px;
}

.Informations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}


div {
    font-size: 10px;
    color: white;
}

div .facebook,
div .mail {
    margin: 20px 0 10px 20px;
}

div .instagram,
div .phone {
    margin: 0 0 10px 20px;
}

h5 {
    display: inline;
    color: white;
}

h5:nth-child(2) {
    margin-left: 100px;
}

h5:first-child {
    margin-left: 20px;
}