@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');

body {
    font-family: 'Space Mono', monospace;
}

.test{
    background-color: #1A202C;;
}

.test > img {
    display: flex;
    height: 150px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.test > .star, .price {
    margin-inline: 30px;
    margin-top: 5px;
}

.test > .price {
    float: right;
}

.text-restaurant {
    color: white;
    margin-inline: 30px;
}

.yellow-stars {
    color: #ECC94B;
}

.description {
    font-size: 0.813rem;
    margin-top: 5px;
}

.location {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.restaurant-card-img {
    display: flex;
    width: 80%;
    height: auto;
    margin: auto;
}

.feedbacks > .feedback-cards {
    background-color: #2F827A;
    border-radius: 10px;
    margin-block: 20px;
}

.feedbacks > .feedback-cards > p {
    margin-left: 10px;
}